<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network access (Lab 1) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- LAB 2 ONLY: Biometric permission -->
    <!-- <uses-permission android:name="android.permission.USE_BIOMETRIC" /> -->

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="HospiManagementApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <!-- Launcher / entry point -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Lab 1 screens -->
        <activity
            android:name=".PatientRegistrationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".AdminLoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".AdminPortalActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".AppointmentActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity
            android:name=".PatientRecordActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".BiometricAuthActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>




    </application>
</manifest>

